.DS_Store
/.ref-cracker-chz/
xcuserdata/
DerivedData/
.build/
/build/
dist/
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
xcuserdata
*.xccheckout
*.xcscmblueprint
